@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: #867573;
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
  background-color: #f9f9f9;
}

ol,
ul {
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
}

h2 {
  font-size: 33px;
}

p {
  font-size: 16px;
}

span {
  font-size: 22px;
}

header,
nav,
main,
article,
aside,
section,
footer {
  display: block;
}

.grid {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

header {
  position: relative;
  width: 100%;
  margin-bottom: 50px;
}

header div.main-img-mobile {
  width: 100%;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  header div.main-img-mobile {
    display: none;
  }
}

header div.main-img-mobile a img {
  width: 100%;
}

header div.main-img-pc {
  display: none;
  width: 100%;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  header div.main-img-pc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 1024px) {
  header div.main-img-pc a {
    width: 33.33333%;
  }
}

header div.main-img-pc a img {
  width: 100%;
}

header div.logo {
  position: absolute;
  top: 10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

header div.logo h1 a img {
  width: 130px;
}

@media screen and (min-width: 1024px) {
  header div.logo h1 a img {
    width: 200px;
  }
}

main {
  width: 100%;
}

main section {
  margin-bottom: 60px;
}

@media screen and (min-width: 1024px) {
  main section {
    margin-bottom: 100px;
  }
}

main section h2 {
  font-size: 0;
}

main section a {
  position: relative;
  width: 47%;
  margin-bottom: 30px;
}

@media screen and (min-width: 1024px) {
  main section a {
    margin-bottom: 40px;
  }
}

main section a:hover {
  background-color: #000;
}

main section a img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

main section a img:hover {
  opacity: 0.5;
}

main section div.button {
  text-align: center;
}

main section div.button a {
  width: 100px;
  height: 35px;
  display: inline-block;
  margin-bottom: 0;
  border: 1px solid #867573;
  font-size: 26px;
  color: #867573;
}

@media screen and (min-width: 1024px) {
  main section div.button a {
    width: 90px;
    height: 30px;
    font-size: 24px;
  }
}

main section div.button a:hover {
  color: #fff;
  background-color: #867573;
}

main section div.product-des-mobile {
  display: none;
  position: absolute;
  left: 50%;
  bottom: 10%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
  color: #fff;
}

main section div.product-des-mobile h3 {
  margin-bottom: 5px;
}

main section div.product-des-pc {
  display: none;
  position: absolute;
  left: 50%;
  bottom: 10%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
  color: #fff;
}

main section div.product-des-pc h3 {
  margin-bottom: 5px;
}

main section.acc div.acc-img-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

@media screen and (min-width: 1024px) {
  main section.acc div.acc-img-mobile {
    display: none;
  }
}

main section.acc div.acc-img-pc {
  display: none;
}

@media screen and (min-width: 1024px) {
  main section.acc div.acc-img-pc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

main section.acc div.acc-img-pc div.paint {
  width: 35%;
}

main section.acc div.acc-img-pc div.paint a {
  width: 100%;
}

main section.acc div.acc-img-pc div.acc-pc-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 60%;
}

main section.acc div.acc-img-pc div.acc-pc-right a {
  width: 47%;
}

main section.acc div.acc-img-pc div.acc-pc-right a img {
  width: 100%;
}

main section.bags {
  width: 100%;
}

main section.bags video {
  width: 100%;
  margin-bottom: 30px;
  -o-object-fit: fill;
     object-fit: fill;
}

main section.bags div.bags-img-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

@media screen and (min-width: 1024px) {
  main section.bags div.bags-img-mobile {
    display: none;
  }
}

main section.bags div.bags-img-mobile a {
  width: 47%;
}

main section.bags div.bags-img-pc {
  display: none;
}

@media screen and (min-width: 1024px) {
  main section.bags div.bags-img-pc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

main section.wear div.wear-img-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

@media screen and (min-width: 1024px) {
  main section.wear div.wear-img-mobile {
    display: none;
  }
}

main section.wear div.wear-img-mobile div.wear-mobile-left {
  width: 47%;
}

main section.wear div.wear-img-mobile div.wear-mobile-left a {
  width: 100%;
}

main section.wear div.wear-img-mobile div.wear-big {
  width: 47%;
}

main section.wear div.wear-img-mobile div.wear-big a {
  width: 100%;
}

main section.wear div.wear-img-pc {
  display: none;
}

@media screen and (min-width: 1024px) {
  main section.wear div.wear-img-pc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
}

main section.wear div.wear-img-pc div.wear-pc-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 60%;
}

main section.wear div.wear-img-pc div.wear-pc-left a {
  width: 47%;
}

main section.wear div.wear-img-pc div.wear-big-pc {
  width: 35%;
}

main section.wear div.wear-img-pc div.wear-big-pc a {
  width: 100%;
}

main article.slide {
  margin-bottom: 70px;
}

@media screen and (min-width: 1024px) {
  main article.slide {
    margin-bottom: 235px;
  }
}

main article.slide h2 {
  font-size: 0;
}

main article.slide ul.slide-img-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 400%;
}

@media screen and (min-width: 1024px) {
  main article.slide ul.slide-img-mobile {
    display: none;
  }
}

main article.slide ul.slide-img-mobile li a img {
  width: 100%;
}

main article.slide ul.slide-img-pc {
  display: none;
}

@media screen and (min-width: 1024px) {
  main article.slide ul.slide-img-pc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    width: 400%;
  }
}

main article.slide ul.slide-img-pc li a img {
  width: 100%;
}

footer {
  position: relative;
  width: 100%;
}

footer hr {
  border: 1px solid #867573;
}

footer div.grid div {
  position: relative;
}

footer div.grid div h2 {
  display: inline-block;
  color: #867573;
  margin: 15px 0 10px 0;
  font-size: 22px;
  font-weight: normal;
}

@media screen and (min-width: 1024px) {
  footer div.grid div h2 {
    font-size: 21px;
    font-weight: bold;
    border-right: 2px solid #867573;
    margin-right: 50px;
  }
}

footer div.grid div span {
  position: absolute;
  top: 15px;
  right: 0;
}

@media screen and (min-width: 1024px) {
  footer div.grid div span {
    display: none;
  }
}

footer div.grid div a {
  display: none;
  color: #867573;
}

@media screen and (min-width: 1024px) {
  footer div.grid div a {
    display: inline-block;
    margin-right: 55px;
  }
}

@media screen and (min-width: 1024px) {
  footer div.grid div.category h2 {
    padding-right: 131px;
  }
}

footer div.grid div.category a {
  padding: 15px 5px;
}

@media screen and (min-width: 1024px) {
  footer div.grid div.service h2 {
    padding-right: 45px;
    margin-bottom: 40px;
  }
}

footer div.grid div.service a {
  padding: 15px 5px;
}

@media screen and (min-width: 1024px) {
  footer div.grid div.follow h2 {
    display: none;
  }
}

footer div.grid div.follow a {
  padding: 15px 5px;
}

@media screen and (min-width: 1024px) {
  footer div.grid div.follow a {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  footer div.grid div.company h2 {
    display: none;
  }
}

footer div.grid div.company p {
  display: none;
  margin-left: 5px;
}

@media screen and (min-width: 1024px) {
  footer div.grid div.company p {
    display: block;
    margin-left: 0;
  }
}

footer div.grid div.sns {
  display: none;
}

@media screen and (min-width: 1024px) {
  footer div.grid div.sns {
    display: block;
    position: absolute;
    top: 15px;
    right: 30px;
  }
  footer div.grid div.sns a {
    margin-right: 15px;
  }
  footer div.grid div.sns a:last-child {
    margin-right: 0;
  }
}

footer div.footer-logo {
  margin-top: 45px;
  margin-bottom: 90px;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  footer div.footer-logo {
    margin-top: 60px;
  }
}

footer div.footer-logo img {
  width: 110px;
}

@media screen and (min-width: 1024px) {
  footer div.footer-logo img {
    width: 180px;
  }
}

footer div.top {
  display: none;
}

@media screen and (min-width: 1024px) {
  footer div.top {
    position: absolute;
    right: 100px;
  }
}
/*# sourceMappingURL=index.css.map */