@import "./style.scss";
@import "./reset.scss";
@import "./mixin.scss";
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

.grid {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.9);
    
    button {
        position: absolute;
        width: 50px;
        height: 50px;
        top: 0;
        right: 0;
        font-size: 30px;
    }

    .modal-content {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        background-color: $backColor-body;
    }
}


// header
header {
    position: relative;
    width: 100%;
    div.main-img-mobile {
        width: 100%;
        text-align: center;
        
        @include responsive(pc-screens) {
            display: none;
        }
        
        a {
            img {
                width: 100%;
            }
        }
    } // main-img-mobile
    
    div#main-img-pc {
        display: none;        
        @include responsive(pc-screens) {
            display: flex;
            height: 100vh;
        }
        
        div.main-imgs {
            position: relative;
            overflow: hidden;
            &:hover {
                p {
                    visibility:visible;
                }
            }
            
            a {
                img {
                    width: 100.1%;
                }
            }

            p {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                visibility: hidden;
                font: {
                    weight: bold;
                    size: 40px;
                }
                color: $backColor-body;
            }
        }
    }

        
    div.logo {
        position: absolute;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
        h1 {
            a {
                img {
                    width: 130px;
    
                    @include responsive(pc-screens) {
                        width: 200px;
                    }
                }
            }
        }
    } // logo

    nav {
        ul#gnb {
            position: absolute;
            right: 0;
            width: 150px;
            z-index: 10;
            background-color: $backColor-body;
            li {
                a {
                    padding: 8px 0;
                    border-bottom: 1px solid #ccc;
                    text-align: center;
                    color: #000;
                    &:hover,
                    &:active,
                    &:focus {
                        background-color: #eee;
                        color: #000;
                    }
                }

                a.on {
                    background-color: #666;
                    color: #fff;
                }
            }
        }
    }
} // header


//main
main {
    padding-top: 50px;
    @include responsive(pc-screens) {
        padding-top: 0;
    }

    div.button {
        text-align: center;
        margin-bottom: 100px;
        a {
            display: inline-block;
            width: 100px;
            height: 35px;
            margin-bottom: 0;
            border: 1px solid $color-base;
            font-size: 26px;
            color: $color-base;

            @include responsive(pc-screens) {
                width: 90px;
                height: 30px;
                font-size: 24px;
            }

            &:hover {
                color: #fff;
                background-color: $color-base;
            }
        }
    }

    section {
        width: 100%;
        h2 {
            font-size: 0;
        }
        
        div.product-img-text {
            position:relative;
            width: 47%;
            margin-bottom: 30px;
    
            @include responsive(pc-screens) {
                margin-bottom: 40px;
            }
            
            &:hover {
                div.product-des {
                    visibility:visible;
                }
            }

            p.modal-text {
                display: none;
            }
            
            div.product-des {
                position:absolute;
                left: 50%;
                bottom: 5%;
                transform: translateX(-50%);
                width: 100%;
                visibility: hidden;
                text-align: center;
                
                p {
                    color: #fff;
                }
                
                strong {
                    color: #fff;
                }
            }
            
        }
        
        a {
            position: relative;

            &:hover {
               background-color: #000;
            }
    
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
    
                &:hover {
                    opacity: 0.5;
                }
            }
        }

        h3 {
            margin-bottom: 5px;
            font-size: 18px;
            letter-spacing: 5px;
            @include responsive(pc-screens) {
                font-size: 26px;
            }
        }
    }
    
    section#acc {
        @include responsive(pc-screens) {
            height: 100vh;
            padding-top: 100px;
        }
        div.acc-img-mobile {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            width: 100%;
            
            @include responsive(pc-screens) {
                display: none;
            }
        } // acc-mobile-img
        
        div.acc-img-pc {
            display: none;
            
            @include responsive(pc-screens) {
                display: flex;
                justify-content: space-between;
            }
            
            div.paint {
                width: 35%;
                a {
                    width: 100%;
                }
            }

            div.acc-pc-right {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                width: 60%;
            }
        } // acc-img-pc
    } // acc

    section#bags {
        width: 100%;
        padding-top: 50px;

        video {
            margin-bottom: 30px;
            @include responsive(pc-screens) {
                height: 100vh;
                margin-bottom: 0;
            }
        }
       
        div#bags-img-button {
            @include responsive(pc-screens) {
                height: 100vh;
            }
            div.bags-img-mobile {
                display: flex;
                justify-content: space-between;
                width: 100%;
                @include responsive(pc-screens) {
                    display: none;
                }
            } // bags-img-mobile
    
            div.bags-img-pc {
                display: none;
                @include responsive(pc-screens) {
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                }
            }
        }
    } // bags

    section#wear {
        @include responsive(pc-screens) {
            height: 100vh;
        }
        div.wear-img-mobile {
            display: flex;
            justify-content: space-between;
            width: 100%;

            @include responsive(pc-screens) {
                display: none;
            }

            div.wear-mobile-left {
                width: 47%;
                div.product-img-text {
                    width: 100%;
                }
            }

            div.wear-big {
                width: 47%;
                a {
                    width: 100%;
                }
            }
        } // wear-img-mobile

        div.wear-img-pc {
            display: none;

            @include responsive(pc-screens) {
                display: flex;
                justify-content: space-between;
                width: 100%;
            }
            
            div.wear-pc-left {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                width: 60%;
            }

            div.wear-big-pc {
                width: 35%;
                a {
                    width: 100%;
                }
            }
        } // wear-img-pc
    } // wear

    article#slide {
        position: relative;
        margin-bottom: 70px;
        padding-top: 50px;
        @include responsive(pc-screens) {
            height: 100vh;
            margin-bottom: 0;
        }

        h2 {
            font-size: 0;
        }

        h3 {
            margin-bottom: 5px;
            font-size: 18px;
            letter-spacing: 5px;
            @include responsive(pc-screens) {
                font-size: 26px;
            }
        }

        div#slide-box-mobile {
            width: 100%;
            margin: 0 auto;
            overflow: hidden;
            ul.slide-m {
                display: flex;
                position: relative;
                width: 400%;
                @include responsive(pc-screens) {
                    display: none;
                }
    
                li {
                    img {
                        width: 100%;
                    }
                }
            }
        }

        div#slide-box-pc {
            width: 100%;
            margin: 0 auto 35px;
            overflow: hidden;
            ul.slide-pc {
                display: none;
                @include responsive(pc-screens) {
                    display: flex;
                    position: relative;
                    width: 400%;
                }
    
                li {
                    a {
                        img {
                            width: 100%;
                        }
                    }
                }
            } // slide-img-pc
        }

        div.prev {
            display: none;
            position: absolute;
            top: 50%;
            left: 30px;
            transform: translateY(-50%);
            border-radius: 50%;
            @include responsive(pc-screens) {
                display: block;
            }
            span {
                display: block;
                width: 50px;
                height: 5px;
                border-radius: 3px;
                background-color: #fff;
                &:first-child {
                    margin-bottom: 28px;
                    transform: rotate(-45deg);
                }
                
                &:last-child {
                    transform: rotate(45deg);
                }
            }
        }

        div.next {
            display: none;
            position: absolute;
            top: 50%;
            right: 30px;
            transform: translateY(-50%);
            border-radius: 50%;
            @include responsive(pc-screens) {
                display: block;
            }

            span {
                display: block;
                width: 50px;
                height: 5px;
                border-radius: 3px;
                background-color: #fff;
                &:first-child {
                    margin-bottom: 28px;
                    transform: rotate(45deg);
                }
                &:last-child {
                    transform: rotate(-45deg);
                }
            }
        }
    } // slide
} // main

// footer
footer {
    position: relative;
    width: 100%;

    hr {
        border: 1px solid $color-border;
    }

    div.grid {
        div.footer-menu {
            position: relative;
            cursor: pointer;
            div.footer-menu-click {
                display: inline-block;
            }
            h4 {
                display: inline-block;
                color: $color-base;
                margin: 15px 0 10px;
                @include responsive(pc-screens) {
                    font-weight: bold;
                    border-right: 2px solid $color-base;
                    margin-right: 50px;
                }
            }

            span {
                position: absolute;
                top: 15px;
                right: 0;
                font-size: 90%;
                @include responsive(pc-screens) {
                    display: none;
                }
                
            }

            a {
                display: none;
                padding: 15px 5%;
                @include responsive(pc-screens) {
                    display: inline-block;
                    margin-right: 5%;
                    padding: 0;
                }
            }
            
            strong {
                display: inline-block;
                color: $color-base;
                font-weight: normal;
                &:after {
                    display:block;
                    content: '';
                    border-bottom: solid 3px $color-base;  
                    transform: scaleX(0);  
                    transition: transform 250ms ease-in-out;
                }
                &:hover:after {
                    transform: scaleX(1);
                }
            }

            p {
                display: none;
                color: $color-base;
                padding: 15px 0;
                @include responsive(pc-screens) {
                    display: block;
                }
            }
        }
        
        div.footer-menu {
            &:nth-child(2) {
                h4 {
                    @include responsive(pc-screens) {
                        padding-right: 45px;
                    }
                }
            }

            &:nth-child(3) {
                a {
                    @include responsive(pc-screens) {
                        display: none;
                    }
                }
            }

            &:nth-child(3),
            &:last-child {
                h4 {
                    @include responsive(pc-screens) {
                        display: none;
                    }
                }
            }

            h4 {
                @include responsive(pc-screens) {
                    padding-right: 116px;
                }
            }
        }

        div.sns {
            display: none;

            @include responsive(pc-screens) {
                display: block;
                position: absolute;
                top: 10px;
                right: 15px;

                a {
                    display: inline-block;
                    margin-right: 15px;
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
    }
    
    div.footer-logo {
        margin-top: 45px;
        text-align: center;
        @include responsive(pc-screens) {
            margin-top: 60px;
        }
        
        img {
            display: inline-block;
            width: 110px;
            @include responsive(pc-screens) {
                width: 180px;
            }
        }
    }

    div#top {
        position: fixed;
        right: 15px;
        bottom: 15px;
        cursor: pointer;
        opacity: 0;
        @include responsive(pc-screens) {
            right: 100px;
            bottom: 100px;
            z-index: 99;
        }
    }
}