
        input[id="hamBurger"] {
            display:none;
        } 

        input[id="hamBurger"] + label{
            position: relative;
            display:block;
            width:30px;
            height:20px;
            cursor:pointer;  /* 커서를 올려놓을 때 모양이 바뀐다. */
        } 

        input[id="hamBurger"] + label > span {
            position: absolute;
            display:block;
            width:100%;
            height:3px;
            border-radius:30px;
            background: black;
            transition: all 0.35s;  /* 진행되는 과정들을 천천히 보여줄 수 있다. 0.35초 동안 진행됨 */
            z-index:2;

        }

        /* input[id="hamBurger"] + label > span:hover {
            background: #fff;
        } */

        /* 햄버거 평상선 */
        input[id="hamBurger"] + label > span:nth-child(1) {
            top:0px;
        }

        input[id="hamBurger"] + label > span:nth-child(2) {
            top:50%;
            transform: translateY(-50%);  
            /* 엘리먼트를 변형할 때 쓴다. 비틀거나 구부리거나 돌릴 때 . 여러가지로 모양을 바꿀 때 */
        }

        input[id="hamBurger"] + label > span:nth-child(3) {
            bottom:0px;
        }

        /* X */
        input[id="hamBurger"]:checked + label > span:nth-child(1) {
            top:50%;
            transform:translateY(-50%) rotate(45deg);
        }

        input[id="hamBurger"]:checked + label > span:nth-child(2) {
            opacity: 0;
        }

        input[id="hamBurger"]:checked + label > span:nth-child(3) {
            bottom:50%;
            transform:translateY(50%) rotate(-45deg);
        }

        #hamBurger + label + #hamBurger-menu {
            position:fixed;  /* 스크롤을 내리더라도 같은 위치에서 붙어다닌다. */
            width: 100%;
            height: 100%;
            background:#767676;;
            top: 100%;
            left: 80%;
            padding:60px 25px 25px 25px;
            box-sizing:border-box;
            z-index:1;
            transition: all 0.35s;
        }

        #hamBurger:checked + label + #hamBurger-menu {
            /* left: 0px; */
            top: 80px;
        }

        #hamBurger:checked + label + #hamBurger-menu > ul > li > a {
            color: white;
        }

        #hamBurger-menu li {
            border-bottom: 1px solid black;
        }


