@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
  background-color: #f9f9f9;
}

ol,
ul {
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
  color: #000;
}

h2 {
  font-size: 0;
}

h3 {
  font-size: 1.125em;
  color: #000;
}

h4 {
  font-size: 1.1em;
  font-weight: normal;
}

p {
  font-size: 0.95em;
  font-weight: 550;
}

strong {
  font-size: 0.9em;
}

span {
  font-size: 1.375em;
}

header,
nav,
main,
article,
aside,
section,
footer {
  display: block;
}

.grid {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

header {
  position: relative;
  width: 100%;
  height: 100px;
  z-index: 100;
  background-color: #f9f9f9;
}

@media screen and (min-width: 1024px) {
  header {
    height: 200px;
  }
}

header h1 {
  padding-top: 10px;
  text-align: center;
}

header h1 a img {
  width: 130px;
}

@media screen and (min-width: 1024px) {
  header h1 a img {
    width: 200px;
    margin-bottom: 40px;
  }
}

header div.mobile-menu-btn {
  position: absolute;
  top: 35px;
  right: 15px;
  z-index: 100;
  cursor: pointer;
}

header div.mobile-menu-btn.open span:first-child {
  -webkit-transform: rotate(46deg) translate(5px, 10px);
          transform: rotate(46deg) translate(5px, 10px);
}

header div.mobile-menu-btn.open span:nth-child(2) {
  opacity: 0;
}

header div.mobile-menu-btn.open span:last-child {
  -webkit-transform: rotate(-46deg) translate(5px, -10px);
          transform: rotate(-46deg) translate(5px, -10px);
}

@media screen and (min-width: 1024px) {
  header div.mobile-menu-btn {
    display: none;
  }
}

header div.mobile-menu-btn span {
  display: block;
  width: 30px;
  height: 1px;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  background-color: #000;
}

header div.mobile-menu-btn span:nth-child(2) {
  margin: 10px 0;
}

header .mobile-menu {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  background-color: #f9f9f9;
}

header .mobile-menu.show {
  left: 0%;
  opacity: 1;
}

header .mobile-menu.hide {
  left: 100%;
  opacity: 0;
}

@media screen and (min-width: 1024px) {
  header .mobile-menu {
    display: none;
  }
}

header .mobile-menu .category {
  margin: 110px 0 70px 30px;
}

header .mobile-menu .category h2 {
  cursor: pointer;
  font-size: 2.2rem;
  font-weight: normal;
  margin-top: 35px;
}

header .mobile-menu .category .sub-menu {
  display: none;
  font-size: 1.2rem;
}

header .mobile-menu .category .sub-menu a {
  margin-top: 15px;
}

header .mobile-menu .icon-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

header .mobile-menu .icon-menu .icon-img {
  width: 6%;
  margin-left: 30px;
}

header .mobile-menu .icon-menu .icon-img div {
  margin-top: 30px;
}

header .mobile-menu .icon-menu .icon-img div img {
  width: 30px;
}

header .mobile-menu .icon-menu .icon-name {
  width: 82%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 1.8rem;
}

header .mobile-menu .icon-menu .icon-name a {
  margin-top: 26px;
}

header div.header-icon {
  display: none;
}

@media screen and (min-width: 1024px) {
  header div.header-icon {
    display: block;
    position: absolute;
    bottom: 0;
    right: 15px;
  }
}

header div.header-icon a {
  display: inline-block;
  margin-right: 25px;
}

header div.header-icon a:last-child {
  margin-right: 0;
}

header div.header-icon a img {
  width: 25px;
}

main article img {
  width: 100%;
  height: 350px;
}

@media screen and (min-width: 1024px) {
  main article img {
    height: 900px;
  }
}

main nav {
  display: none;
}

@media screen and (min-width: 1024px) {
  main nav {
    display: block;
    margin: 40px 0 10px;
  }
}

@media screen and (min-width: 1024px) {
  main nav .gnb {
    padding: 0 3%;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    background-color: #f9f9f9;
  }
}

@media screen and (min-width: 1024px) {
  main nav .gnb li {
    display: inline-block;
    padding: 15px 0;
    margin-right: 7%;
    font-size: 1.25em;
  }
  main nav .gnb li:first-child {
    font-size: 1.2em;
    font-weight: 500;
    width: 170px;
    border-bottom: 2px solid #000;
  }
}

@media screen and (min-width: 1024px) {
  main nav .gnb li a::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: #000;
    -webkit-transition: width 0.6s;
    transition: width 0.6s;
  }
  main nav .gnb li a:hover::after {
    width: 100%;
  }
  main nav .gnb li a.menuBold {
    font-weight: bold;
  }
}

@media screen and (min-width: 1024px) {
  main .fixed {
    position: fixed;
    top: 0;
    margin: 0;
    width: 100%;
    z-index: 100;
  }
}

main .overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 1;
  background: rgba(0, 0, 0, 0.8);
}

main .overlay img {
  position: relative;
  top: 50%;
  left: 50%;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media screen and (min-width: 1024px) {
  main .overlay img {
    width: 50%;
  }
}

main #WALLTES {
  width: 100%;
  padding: 4%;
}

@media screen and (min-width: 1024px) {
  main #WALLTES {
    margin-bottom: 100px;
    padding: 2%;
  }
}

main #WALLTES ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 3rem;
          column-gap: 3rem;
  row-gap: 0.5rem;
  margin-top: 10px;
  width: 100%;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  main #WALLTES ul {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

main #WALLTES ul li a img {
  width: 100%;
}

main #WALLTES ul li a p {
  padding: 3px 10%;
  line-height: 15px;
}

main #HATS {
  width: 100%;
  margin: 30px 0 60px;
  padding: 4%;
}

@media screen and (min-width: 1024px) {
  main #HATS {
    margin-bottom: 100px;
    padding: 2%;
  }
}

main #HATS .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  -webkit-column-gap: 0.5rem;
          column-gap: 0.5rem;
  row-gap: 1rem;
  margin-top: 10px;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  main #HATS .container {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
  }
}

main #HATS .container .HATS-grid-item-main-img {
  position: relative;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  grid-row: 1/5;
}

main #HATS .container .HATS-grid-item-main-img img {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 1024px) {
  main #HATS .container .HATS-grid-item-main-img {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1/5;
  }
}

main #HATS .container .HATS-grid-item-main-img .hats-text {
  width: 100%;
  position: absolute;
  top: 9.090909090909091%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

main #HATS .container .HATS-grid-item-main-img .hats-text p {
  margin-bottom: 4.545454545454545%;
  font-weight: 600;
  font-size: 24px;
}

@media screen and (min-width: 1024px) {
  main #HATS .container .HATS-grid-item-main-img .hats-text p {
    font-size: 30px;
    font-weight: normal;
  }
}

main #HATS .container .HATS-grid-item-main-img .hats-text strong {
  font-size: 22px;
  font-weight: 900;
}

@media screen and (min-width: 1024px) {
  main #HATS .container .HATS-grid-item-main-img .hats-text strong {
    font-size: 36px;
    font-weight: 550;
  }
}

main #HATS .container .HATS-grid-item-main-img .HATS-buy-btn {
  position: absolute;
  bottom: 5.303030303030303%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

main #HATS .container .HATS-grid-item-main-img .HATS-buy-btn a {
  padding: 10px 37px;
  text-align: center;
  font-size: 0.95em;
  font-weight: 550;
  color: #f9f9f9;
  background-color: #000;
}

@media screen and (min-width: 1024px) {
  main #HATS .container .HATS-grid-item-main-img .HATS-buy-btn a {
    padding: 15px 60px;
    font-size: 20px;
  }
}

main #HATS .container .grid-item a img {
  width: 100%;
  height: 300px;
}

@media screen and (min-width: 1024px) {
  main #HATS .container .grid-item a img {
    height: 460px;
  }
}

main #HATS .container .grid-item a p {
  padding: 3px 10%;
  line-height: 15px;
}

@media screen and (min-width: 1024px) {
  main #HATS .container .grid-item a p {
    padding: 0;
    margin-bottom: 15px;
  }
}

main #EYEWEAR {
  width: 100%;
  margin: 30px 0 60px;
  padding: 4%;
}

@media screen and (min-width: 1024px) {
  main #EYEWEAR {
    margin-bottom: 100px;
    padding: 2%;
  }
}

main #EYEWEAR .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[4];
      grid-template-rows: repeat(4, 1fr);
  -webkit-column-gap: 0.5rem;
          column-gap: 0.5rem;
  row-gap: 1rem;
  margin-top: 10px;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  main #EYEWEAR .container {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
  }
}

main #EYEWEAR .container .EYEWEARE-grid-item-main-img {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}

main #EYEWEAR .container .EYEWEARE-grid-item-main-img img {
  width: 100%;
  height: 630px;
}

@media screen and (min-width: 1024px) {
  main #EYEWEAR .container .EYEWEARE-grid-item-main-img img {
    height: 1038px;
  }
}

@media screen and (min-width: 1024px) {
  main #EYEWEAR .container .EYEWEARE-grid-item-main-img {
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-column: 3/5;
  }
}

main #EYEWEAR .container .grid-item a img {
  width: 100%;
  height: 300px;
}

@media screen and (min-width: 1024px) {
  main #EYEWEAR .container .grid-item a img {
    height: 460px;
  }
}

main #EYEWEAR .container .grid-item a p {
  padding: 3px 10%;
  line-height: 15px;
}

@media screen and (min-width: 1024px) {
  main #EYEWEAR .container .grid-item a p {
    padding: 0;
    margin-bottom: 15px;
  }
}

footer {
  position: relative;
  width: 100%;
  color: #867573;
  border-top: 1px solid rgba(134, 117, 115, 0.4);
}

footer div.grid div {
  position: relative;
}

footer div.grid div h4 {
  display: inline-block;
  margin: 10px 0;
}

@media screen and (min-width: 1024px) {
  footer div.grid div h4 {
    font-weight: bold;
    border-right: 2px solid #867573;
    margin-right: 50px;
  }
}

footer div.grid div span {
  position: absolute;
  top: 5px;
  right: 0;
  font-size: 90%;
}

@media screen and (min-width: 1024px) {
  footer div.grid div span {
    display: none;
  }
}

footer div.grid div a {
  display: none;
  color: #867573;
}

@media screen and (min-width: 1024px) {
  footer div.grid div a {
    display: inline-block;
    margin-right: 3%;
  }
}

@media screen and (min-width: 1024px) {
  footer div.grid div.category h4 {
    padding-right: 116px;
  }
}

footer div.grid div.category a {
  padding: 15px 5%;
}

@media screen and (min-width: 1024px) {
  footer div.grid div.category a {
    padding: 0;
  }
}

@media screen and (min-width: 1024px) {
  footer div.grid div.service h4 {
    padding-right: 45px;
    margin-bottom: 40px;
  }
}

footer div.grid div.service a {
  padding: 15px 5%;
}

@media screen and (min-width: 1024px) {
  footer div.grid div.service a {
    padding: 0;
  }
}

@media screen and (min-width: 1024px) {
  footer div.grid div.follow h4 {
    display: none;
  }
}

footer div.grid div.follow a {
  padding: 15px 5%;
}

@media screen and (min-width: 1024px) {
  footer div.grid div.follow a {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  footer div.grid div.company h4 {
    display: none;
  }
}

footer div.grid div.company p {
  display: none;
  margin-top: 10px;
  font-weight: normal;
}

@media screen and (min-width: 1024px) {
  footer div.grid div.company p {
    display: block;
    margin-left: 0;
  }
}

footer div.grid div.sns {
  display: none;
}

@media screen and (min-width: 1024px) {
  footer div.grid div.sns {
    display: block;
    position: absolute;
    top: 10px;
    right: 15px;
  }
  footer div.grid div.sns a {
    margin-right: 15px;
  }
  footer div.grid div.sns a:last-child {
    margin-right: 0;
  }
}

footer div.footer-logo {
  margin-top: 45px;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  footer div.footer-logo {
    margin-top: 60px;
  }
}

footer div.footer-logo img {
  width: 110px;
}

@media screen and (min-width: 1024px) {
  footer div.footer-logo img {
    width: 180px;
  }
}
/*# sourceMappingURL=index.css.map */