@import "./style.scss";
@import "./reset.scss";
@import "./mixin.scss";
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

.grid {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}


// header
header {
    width: 100%;
    margin-bottom: 50px;

    @include responsive(pc-screens) {
        margin-bottom: 200px;
    }

    div.logo {
        padding-top: 10px;
        text-align: center;
        h1 {
            a {
                img {
                    width: 130px;
    
                    @include responsive(pc-screens) {
                        width: 200px;
                    }
                }
            }
        }
    } // logo

    div.mobile-menu {
        position: absolute;
        top: 30px;
        right: 15px;

        @include responsive(pc-screens) {
            display: none;
        }
        
        span {
            display: block;
            width: 40px;
            height: 2px;
            background-color: $black;
            &:nth-child(2) {
                margin: 13px 0;
            }
        }
    }

    div.header-icon {
        display: none;

        @include responsive(pc-screens) {
            display: block;
            position: absolute;
            top: 180px;
            right: 15px;
        }

        a {
            display: inline-block;
            margin-right: 25px;
            &:last-child {
                margin-right: 0;
            }

            img {
                width: 30px;
            }
        }
    }

    div.main-img-text {
        position: relative;
        margin-top: 15px;

        @include responsive(pc-screens) {
            margin-top: 120px;
        }
        
        img {
            width: 100%;
        }

        p {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 20px;
            color: #fff;

            @include responsive(pc-screens) {
                font-size: 36px;
            }
        }
    }
} // header

main {
    section {
        h2 {
            font-size: 0;
        }
    }

    div.menu-mobile {
        margin-bottom: 30px;
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
        @include responsive(pc-screens) {
            display: none;
        }
        ul {
            display: flex;
            justify-content: space-around;
            width: 100%;
            li {
                width: (100%/3);
                a {
                    padding: 15px 0;
                    text-align: center;
                    font-size: 24px;
                    color: #000;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    
    div.main-flex-box {
            display: flex;
        aside.left-menu {
            display: none;
            @include responsive(pc-screens) {
                display: block;
                width: 30%;
                border-top: 0;
                border-bottom: 0;
            }
    
            h2 {
                font-size: 0;
            }

            nav {
                ul.gnb {
                    li {
                        a {
                            margin-bottom: 100px;
                            font-size: 20px;
                            color: #000;
            
                            &:hover {
                                text-decoration: underline;
                            }
                        } 
                    }
                }
            }
        } // left-menu
    
        section.order-des {
            border-top: 1px solid #c6bebe;
            margin-bottom: 25px;
            @include responsive(pc-screens) {
                width: 70%;
            }
            
            h3 {
                margin: 30px 0;
                font-size: 18px;
                color: #000;
            }
    
            ul {
                li {
                    list-style: disc inside;
                    font-size: 18px;
                    color: #000;
                    margin-bottom: 10px;

                    a {
                        display: inline-block;
                        color: #000;
                        font-weight: bold;
                        text-decoration: underline;
                    }
                }
            }

            strong {
                color: #000;
                font-size: 18px;
            }

            p {
                margin-top: 30px;
                color: #000;
                font-size: 18px;
            }

            div.shipping {
                margin-top: 25px;
                border-top: 1px solid #c6bebe;
                strong {
                    a {
                        display: inline-block;
                        color: #000;
                        font-weight: bolder;
                        text-decoration: underline;
                    }
                }
            }

            div.shipping-address {
                form {
                    margin-bottom: 75px;
                    label {
                        display: block;
                        margin: 50px 0 25px;
                        color: #000;
                        font: {
                            weight: bold;
                            size: 18px;
                        }
                    }
                    
                    select {
                        width: 270px;
                        padding: 12px 18px;
                        border: 2px solid #000;
                        font-size: 18px;
                    }
                }

                strong {
                    margin-bottom: 50px;
                    font-weight: 600;
                }
                
                p {
                    margin-bottom: 25px;

                    @include responsive(pc-screens) {
                        margin-bottom: 200px;
                    }
                }
            }
        } // order-des
    }
}

//footer
footer {
    position: relative;
    width: 100%;

    hr {
        border: 1px solid $color-border;
    }

    div.grid {
        div.footer-menu {
            position: relative;
            cursor: pointer;
            div.footer-menu-click {
                display: inline-block;
            }
            h4 {
                display: inline-block;
                color: $color-base;
                margin: 15px 0 10px;
                @include responsive(pc-screens) {
                    font-weight: bold;
                    border-right: 2px solid $color-base;
                    margin-right: 50px;
                }
            }

            span {
                position: absolute;
                top: 15px;
                right: 0;
                font-size: 90%;
                @include responsive(pc-screens) {
                    display: none;
                }
                
            }

            a {
                display: none;
                padding: 15px 5%;
                @include responsive(pc-screens) {
                    display: inline-block;
                    margin-right: 5%;
                    padding: 0;
                }
            }
            
            strong {
                display: inline-block;
                color: $color-base;
                font-weight: normal;
                &:after {
                    display:block;
                    content: '';
                    border-bottom: solid 3px $color-base;  
                    transform: scaleX(0);  
                    transition: transform 250ms ease-in-out;
                }
                &:hover:after {
                    transform: scaleX(1);
                }
            }

            p {
                display: none;
                color: $color-base;
                padding: 15px 0;
                @include responsive(pc-screens) {
                    display: block;
                }
            }
        }
        
        div.footer-menu {
            &:nth-child(2) {
                h4 {
                    @include responsive(pc-screens) {
                        padding-right: 45px;
                    }
                }
            }

            &:nth-child(3) {
                a {
                    @include responsive(pc-screens) {
                        display: none;
                    }
                }
            }

            &:nth-child(3),
            &:last-child {
                h4 {
                    @include responsive(pc-screens) {
                        display: none;
                    }
                }
            }

            h4 {
                @include responsive(pc-screens) {
                    padding-right: 116px;
                }
            }
        }

        div.sns {
            display: none;

            @include responsive(pc-screens) {
                display: block;
                position: absolute;
                top: 10px;
                right: 15px;

                a {
                    display: inline-block;
                    margin-right: 15px;
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
    }
    
    div.footer-logo {
        margin-top: 45px;
        text-align: center;
        @include responsive(pc-screens) {
            margin-top: 60px;
        }
        
        img {
            display: inline-block;
            width: 110px;
            @include responsive(pc-screens) {
                width: 180px;
            }
        }
    }
}