@import "./style.scss";
@import "./reset.scss";
@import "./mixin.scss";
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

.grid {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}


// header
header {
    position: relative;
    width: 100%;
    h1 {
        padding-top: 10px;
        text-align: center;
        a {
            img {
                width: 110px; // 
                @include responsive(pc-screens) {
                    width: 150px; //
                    margin-bottom: 40px; //
                }
            }
        }
    }

    div.mobile-menu {
        position: absolute;
        top: 25px; //
        right: 15px;

        @include responsive(pc-screens) {
            display: none;
        }
        
        span {
            display: block;
            width: 30px; //
            height: 1px;
            background-color: $black;
            &:nth-child(2) {
                margin: 10px 0; //
            }
        }
    }

    div.header-icon {
        display: none;

        @include responsive(pc-screens) {
            display: block;
            position: absolute;
            bottom: 0;
            right: 2%; //
        }  
        a {
            display: inline-block;
            margin-right: 15px; //
            &:last-child {
                margin-right: 0;
            }

            img {
                width: 25px; //
            }
        }
    }
}


//main
main {
    .title-box {
        width: 100%;
        height: 200px;
        margin: 15px 0 50px;
        background: url(../images/miu-belle-bag3.jpg); 
        background-size: cover;

        @include responsive(tablet-screens) {
            height: 300px;
            background: url(../images/miu-belle-bag3.jpg);
        }

        @include responsive(pc-screens) {
            height: 450px;
            background: url(../images/miu-belle-bag3.jpg); 

        }

        .title {
            h1 {
                text-align: center;
                font-size: calc(13px + 2.35vw);
                color: #fff;
                line-height: 200px;
                @include responsive(pc-screens) {
                    line-height: 450px;
                }
            }
        }
    }

    nav {
        border-top: 1px solid $black-border;
        border-bottom: 1px solid $black-border;
        .gnb {
            padding: 0 5%;
            text-align: center;
            li {
                display: inline-block;
                margin: 10px 15% 10px 0;
                &:first-child {
                    border-bottom: 1px solid $black;
                }
                &:last-child {
                    margin-right: 0;
                }
                a {
                    font : {
                        size: 1.15rem;
                        weight: 500;
                    }
                }
            }
        }
    }

    .contact-txt {
        .flex-box {
            h2 {
                margin: 30px 0; 
            }
            p {
                font-weight: 500; 
                &:last-child {
                    margin-bottom: 30px;
                }
            }
        }
    }
}


// footer
footer {
    position: relative;
    width: 100%;
    color: $color-base;
    border-top: 1px solid $color-border;
    div.grid {
        div {
            position: relative;
            h3 {
                display: inline-block;
                margin: 15px 0 10px;
                @include responsive(pc-screens) {
                    font-weight: bold;
                    border-right: 2px solid $color-base;
                    margin-right: 50px;
                }
            }

            span {
                position: absolute;
                top: 15px;
                right: 0;
                font-size: 90%; //
                @include responsive(pc-screens) {
                    display: none;
                }
            }

            a {
                // display: none;
                color: $color-base;
                @include responsive(pc-screens) {
                    display: inline-block;
                    margin-right: 3%; 
                }
            }
        }

        div.category {
            h3 {
                @include responsive(pc-screens) {
                    padding-right: 116px;
                }
            }

            a {
                padding: 15px 5%; //
                @include responsive(pc-screens) {
                    padding: 0;
                }
            }
        }
        
        div.service {
            h3 {
                @include responsive(pc-screens) {
                    padding-right: 45px;
                    margin-bottom: 40px;
                }
            }

            a {
                padding: 15px 5%; //
                @include responsive(pc-screens) {
                    padding: 0;
                }
            }
        }

        div.follow {
            h3 {
                @include responsive(pc-screens) {
                    display: none;
                }
            }

            a {
                padding: 15px 5%; //
                @include responsive(pc-screens) {
                    display: none;
                }
            }
        }

        div.company {
            h3 {
                @include responsive(pc-screens) {
                    display: none;
                }
            }

            p {
                // display: none;
                margin-top: 10px; //
                font-weight: normal; //
                @include responsive(pc-screens) {
                    display: block;
                    margin-left: 0;
                }
            }
        }

        div.sns {
            display: none;
            @include responsive(pc-screens) {
                display: block;
                position: absolute;
                top: 10px;
                right: 15px;
                a {
                    margin-right: 15px;
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
    }
    
    div.footer-logo {
        margin-top: 45px;
        text-align: center;
        
        @include responsive(pc-screens) {
            margin-top: 60px;
        }
        
        img {
            width: 110px;
            @include responsive(pc-screens) {
                width: 180px;
            }
        }
    }

    div.top {
        display: none;

        @include responsive(pc-screens) {
            position: absolute;
            right: 100px;
        }
    }

}