@import "./style.scss";
@import "./reset.scss";
@import "./mixin.scss";
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

.grid {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}


// header
header {
    position: relative;
    width: 100%;
    h1 {
<<<<<<< HEAD
        padding-top: 5px;
        text-align: center;
        a {
            img {
                width: 110px;
                @include responsive(pc-screens) {
                    width: 120px;
                    margin-bottom: 40px;
=======
        padding-top: 10px;
        text-align: center;
        a {
            img {
                width: 130px; 
                @include responsive(pc-screens) {
                    width: 200px;
                    margin-bottom: 40px; //
>>>>>>> 846f3442d6406b12fca1243299dab6d8963a14e6
                }
            }
        }
    }

    div.mobile-menu {
        position: absolute;
<<<<<<< HEAD
        top: 25px;
=======
        top: 35px; //
>>>>>>> 846f3442d6406b12fca1243299dab6d8963a14e6
        right: 15px;

        @include responsive(pc-screens) {
            display: none;
        }
        
        span {
            display: block;
<<<<<<< HEAD
            width: 30px;
            height: 1px;
            background-color: $black;
            &:nth-child(2) {
                margin: 10px 0;
=======
            width: 30px;    //
            height: 1px;
            background-color: $black;
            &:nth-child(2) {
                margin: 10px 0; //
>>>>>>> 846f3442d6406b12fca1243299dab6d8963a14e6
            }
        }
    }

    div.header-icon {
        display: none;

        @include responsive(pc-screens) {
            display: block;
            position: absolute;
            bottom: 0;
<<<<<<< HEAD
            right: 2%;
        }  
        a {
            display: inline-block;
            margin-right: 15px;
=======
            right: 15px;
        }  
        a {
            display: inline-block;
            margin-right: 25px; //
>>>>>>> 846f3442d6406b12fca1243299dab6d8963a14e6
            &:last-child {
                margin-right: 0;
            }

            img {
<<<<<<< HEAD
                width: 25px;
=======
                width: 25px; //
>>>>>>> 846f3442d6406b12fca1243299dab6d8963a14e6
            }
        }
    }
}


//main
main {
    .title-box {
        width: 100%;
        height: 200px;
        margin: 15px 0 50px;
        background: url(../images/miu-belle-bag3.jpg); 
        background-size: cover;

        @include responsive(tablet-screens) {
            height: 300px;
            background: url(../images/miu-belle-bag3.jpg);
<<<<<<< HEAD
=======
            background-size: cover;
>>>>>>> 846f3442d6406b12fca1243299dab6d8963a14e6
        }

        @include responsive(pc-screens) {
            height: 450px;
<<<<<<< HEAD
            background: url(../images/miu-belle-bag3.jpg); 

=======
            margin-bottom: 170px;
            background: url(../images/miu-belle-bag3.jpg); 
            background-position: 50%;
            background-size: cover;
>>>>>>> 846f3442d6406b12fca1243299dab6d8963a14e6
        }

        .title {
            h1 {
                text-align: center;
<<<<<<< HEAD
                font-size: calc(14px + 2.35vw);
                line-height: 200px;
                @include responsive(pc-screens) {
=======
                color: #fff;
                font-size: 20px;
                line-height: 200px;
                @include responsive(tablet-screens) {
                    font-size: 30px;
                    line-height: 300px;
                }
                @include responsive(pc-screens) {
                    font-size: 40px;
>>>>>>> 846f3442d6406b12fca1243299dab6d8963a14e6
                    line-height: 450px;
                }
            }
        }
    }
<<<<<<< HEAD
=======

    nav {
        border-top: 1px solid $black-border;
        border-bottom: 1px solid $black-border;
        @include responsive(pc-screens) {
            border: none;
        }
        .grid {
            .gnb {
                padding: 0 5%;
                text-align: center;
                @include responsive(pc-screens) {
                    border: none;
                    float: left;
                    width: 32%;
                    padding: 0;
                    text-align: left;
                }
                li {
                    display: inline-block;
                    margin: 10px 15% 10px 0;
                    @include responsive(pc-screens) {
                        margin-bottom: 100px;
                    }
                    &:first-child {
                        text-decoration: underline;
                        text-underline-position: under;
                    }
                    &:last-child {
                        margin-right: 0;
                    }
                    @include responsive(pc-screens) {
                        display: block;
                    }
                    a {
                        font : {
                            size: 1.15rem;
                            weight: 500;
                        }
                    }
                }
            }
        }
        
    }

    .contact-txt {
        hr {
            display: none;
            @include responsive(pc-screens) {
                display: block;
            }
        }
        .grid {
            .text-box {
                @include responsive(pc-screens) {
                    float: right;
                    width: 63%;
                }
                h2 {
                    margin: 30px 0; 
                }
                p {
                    font-weight: 450; 
                    &:last-child {
                        margin-bottom: 30px;
                        @include responsive(pc-screens) {
                            margin-bottom: 180px;
                        }
                    }
                }
            }
        }
    }
>>>>>>> 846f3442d6406b12fca1243299dab6d8963a14e6
}


// footer
footer {
    position: relative;
    width: 100%;
    color: $color-base;
    border-top: 1px solid $color-border;
<<<<<<< HEAD
    div.grid {
        div {
            position: relative;
            h4 {
                display: inline-block;
                margin: 10px 0;
                @include responsive(pc-screens) {
                    font: {
                        weight: bold;
                    }
=======
    @include responsive(pc-screens) {
        clear: both;
    }
    div.grid {
        div {
            position: relative;
            h3 {
                display: inline-block;
                margin: 15px 0 10px;
                @include responsive(pc-screens) {
                    font-weight: bold;
>>>>>>> 846f3442d6406b12fca1243299dab6d8963a14e6
                    border-right: 2px solid $color-base;
                    margin-right: 50px;
                }
            }

            span {
                position: absolute;
<<<<<<< HEAD
                top: 5px;
                right: 0;
                font-size: 90%;
=======
                top: 15px;
                right: 0;
                font-size: 90%; //
>>>>>>> 846f3442d6406b12fca1243299dab6d8963a14e6
                @include responsive(pc-screens) {
                    display: none;
                }
            }

            a {
<<<<<<< HEAD
                display: none;
                color: $color-base;
                @include responsive(pc-screens) {
                    display: inline-block;
                    margin-right: 3%;
=======
                // display: none;
                color: $color-base;
                @include responsive(pc-screens) {
                    display: inline-block;
                    margin-right: 5%; //
>>>>>>> 846f3442d6406b12fca1243299dab6d8963a14e6
                }
            }
        }

        div.category {
            h3 {
                @include responsive(pc-screens) {
                    padding-right: 116px;
                }
            }

            a {
<<<<<<< HEAD
                padding: 15px 5%;
=======
                padding: 15px 5%; //
>>>>>>> 846f3442d6406b12fca1243299dab6d8963a14e6
                @include responsive(pc-screens) {
                    padding: 0;
                }
            }
        }
        
        div.service {
<<<<<<< HEAD
            h4 {
                @include responsive(pc-screens) {
                    padding-right: 45px;
                    margin-bottom: 40px;
=======
            h3 {
                @include responsive(pc-screens) {
                    padding-right: 45px;
>>>>>>> 846f3442d6406b12fca1243299dab6d8963a14e6
                }
            }

            a {
<<<<<<< HEAD
                padding: 15px 5%;
=======
                padding: 15px 5%; //
>>>>>>> 846f3442d6406b12fca1243299dab6d8963a14e6
                @include responsive(pc-screens) {
                    padding: 0;
                }
            }
        }

        div.follow {
<<<<<<< HEAD
            h4 {
=======
            h3 {
>>>>>>> 846f3442d6406b12fca1243299dab6d8963a14e6
                @include responsive(pc-screens) {
                    display: none;
                }
            }

            a {
<<<<<<< HEAD
                padding: 15px 5%;
=======
                padding: 15px 5%; //
>>>>>>> 846f3442d6406b12fca1243299dab6d8963a14e6
                @include responsive(pc-screens) {
                    display: none;
                }
            }
        }

        div.company {
<<<<<<< HEAD
            h4 {
=======
            h3 {
>>>>>>> 846f3442d6406b12fca1243299dab6d8963a14e6
                @include responsive(pc-screens) {
                    display: none;
                }
            }

            p {
<<<<<<< HEAD
                display: none;
                margin-top: 10px;
                font-weight: normal;
                @include responsive(pc-screens) {
                    display: block;
=======
                // display: none;
                margin-top: 10px; //
                font-weight: normal; //
                @include responsive(pc-screens) {
                    display: block;
                    margin-top: 35px;
>>>>>>> 846f3442d6406b12fca1243299dab6d8963a14e6
                    margin-left: 0;
                }
            }
        }

        div.sns {
            display: none;
            @include responsive(pc-screens) {
                display: block;
                position: absolute;
                top: 10px;
                right: 15px;
                a {
                    margin-right: 15px;
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
    }
    
    div.footer-logo {
        margin-top: 45px;
        text-align: center;
        
        @include responsive(pc-screens) {
            margin-top: 60px;
        }
        
        img {
            width: 110px;
            @include responsive(pc-screens) {
                width: 180px;
            }
        }
    }

    div.top {
        display: none;

        @include responsive(pc-screens) {
            position: absolute;
            right: 100px;
        }
    }

}