@import "./style.scss";
@import "./reset.scss";
@import "./mixin.scss";
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

.grid {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}


// header
header {
    position: relative;
    width: 100%;

    img {
        display: block;
        width: 100%;
    }

    div.main-img {
        @include responsive(pc-screens) {
            display: none;
        }
    }

    div.main-img-pc {
        display: none;
        @include responsive(pc-screens) {
            display: block;
        }
    }

    div.logo {
        position: absolute;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
        h1 {
            a {
                img {
                    width: 130px;
    
                    @include responsive(pc-screens) {
                        width: 200px;
                    }
                }
            }
        }
    }

    div.title {
        position: absolute;
        left: 15px;
        bottom: 10%;

        @include responsive(pc-screens) {
            left: 30px;
        }
        
        p {
            font-size: 18px;
            color: #fff;
            @include responsive(pc-screens) {
                font-size: 24px;
            }
        }
    }
} // header


//main
main {
    width: 100%;
    margin-bottom: 100px;
    
    section {
        h2 {
            font-size: 0;
        }

        img {
            display: block;
            width: 100%;
        }
    }
    
    section.club-img-mobile {
        @include responsive(pc-screens) {
            display: none;
        }

        div.prev-page {
            position: relative;
            p {
                position: absolute;
                top: 50%;
                left: 15px;
                font-size: 16px;
                color: #fff;
                transform: translateY(-50%);
            }
        }
    }

    section.club-img-pc {
        display: none;
        @include responsive(pc-screens) {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        div {
            width: 50%;
        }

        div.club-img7-pc {
            width: 100%;
            img {
                width: 50%;
            }
        }

        div.prev-page-pc {
            position: relative;
            width: 50%;
            p {
                position: absolute;
                top: 50%;
                left: 30px;
                font-size: 22px;
                color: #fff;
                transform: translateY(-50%);
            }
        }
    }
}


//footer
footer {
    position: relative;
    width: 100%;

    hr {
        border: 1px solid $color-border;
    }

    div.grid {
        div.footer-menu {
            position: relative;
            cursor: pointer;
            div.footer-menu-click {
                display: inline-block;
            }
            h4 {
                display: inline-block;
                color: $color-base;
                margin: 15px 0 10px;
                @include responsive(pc-screens) {
                    font-weight: bold;
                    border-right: 2px solid $color-base;
                    margin-right: 50px;
                }
            }

            span {
                position: absolute;
                top: 15px;
                right: 0;
                font-size: 90%;
                @include responsive(pc-screens) {
                    display: none;
                }
                
            }

            a {
                display: none;
                padding: 15px 5%;
                @include responsive(pc-screens) {
                    display: inline-block;
                    margin-right: 5%;
                    padding: 0;
                }
            }
            
            strong {
                display: inline-block;
                color: $color-base;
                font-weight: normal;
                &:after {
                    display:block;
                    content: '';
                    border-bottom: solid 3px $color-base;  
                    transform: scaleX(0);  
                    transition: transform 250ms ease-in-out;
                }
                &:hover:after {
                    transform: scaleX(1);
                }
            }

            p {
                display: none;
                color: $color-base;
                padding: 15px 0;
                @include responsive(pc-screens) {
                    display: block;
                }
            }
        }
        
        div.footer-menu {
            &:nth-child(2) {
                h4 {
                    @include responsive(pc-screens) {
                        padding-right: 45px;
                    }
                }
            }

            &:nth-child(3) {
                a {
                    @include responsive(pc-screens) {
                        display: none;
                    }
                }
            }

            &:nth-child(3),
            &:last-child {
                h4 {
                    @include responsive(pc-screens) {
                        display: none;
                    }
                }
            }

            h4 {
                @include responsive(pc-screens) {
                    padding-right: 116px;
                }
            }
        }

        div.sns {
            display: none;

            @include responsive(pc-screens) {
                display: block;
                position: absolute;
                top: 10px;
                right: 15px;

                a {
                    display: inline-block;
                    margin-right: 15px;
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
    }
    
    div.footer-logo {
        margin-top: 45px;
        text-align: center;
        @include responsive(pc-screens) {
            margin-top: 60px;
        }
        
        img {
            display: inline-block;
            width: 110px;
            @include responsive(pc-screens) {
                width: 180px;
            }
        }
    }
}
