@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: #867573;
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
  background-color: #f9f9f9;
}

ol,
ul {
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
  color: #000;
}

h2 {
  font-size: 0;
}

h3 {
  font-size: 1.125em;
  color: #000;
}

h4 {
  font-size: 1.1em;
  font-weight: normal;
}

p {
  font-size: 0.95em;
  font-weight: 550;
}

strong {
  font-size: 0.9em;
}

span {
  font-size: 1.375em;
}

header,
nav,
main,
article,
aside,
section,
footer {
  display: block;
}

.grid {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

header {
  position: relative;
  width: 100%;
}

header img {
  display: block;
  width: 100%;
}

@media screen and (min-width: 1024px) {
  header div.main-img {
    display: none;
  }
}

header div.main-img-pc {
  display: none;
}

@media screen and (min-width: 1024px) {
  header div.main-img-pc {
    display: block;
  }
}

header div.logo {
  position: absolute;
  top: 10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

header div.logo h1 a img {
  width: 130px;
}

@media screen and (min-width: 1024px) {
  header div.logo h1 a img {
    width: 200px;
  }
}

header div.title {
  position: absolute;
  left: 15px;
  bottom: 10%;
}

@media screen and (min-width: 1024px) {
  header div.title {
    left: 30px;
  }
}

header div.title p {
  font-size: 18px;
  color: #fff;
}

@media screen and (min-width: 1024px) {
  header div.title p {
    font-size: 24px;
  }
}

main {
  width: 100%;
  margin-bottom: 100px;
}

main section h2 {
  font-size: 0;
}

main section img {
  display: block;
  width: 100%;
}

main section h3 {
  margin-bottom: 3.03030303030303%;
  font-size: 16px;
  color: #000;
}

@media screen and (min-width: 1024px) {
  main section h3 {
    font-size: 22px;
    margin-bottom: 2.604166666666667%;
  }
}

main section p {
  font-size: 14px;
  color: #000;
}

@media screen and (min-width: 1024px) {
  main section p {
    font-size: 18px;
  }
}

@media screen and (min-width: 1024px) {
  main section.club-img-mobile {
    display: none;
  }
}

main section.club-img-mobile div.club-img1 {
  text-align: center;
}

main section.club-img-mobile div.club-img1 img {
  width: auto;
  margin: 7.575757575757576% auto 4.545454545454545%;
}

main section.club-img-mobile div.club-img1 p {
  margin-bottom: 9.090909090909091%;
}

main section.club-img-mobile div.prev-page {
  position: relative;
}

main section.club-img-mobile div.prev-page p {
  position: absolute;
  top: 50%;
  right: 15px;
  font-size: 16px;
  color: #fff;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

main section.club-img-pc {
  display: none;
}

@media screen and (min-width: 1024px) {
  main section.club-img-pc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

main section.club-img-pc div {
  width: 50%;
  text-align: center;
}

main section.club-img-pc div.club-img2-pc {
  width: 100%;
}

main section.club-img-pc div.prev-page-pc {
  position: relative;
}

main section.club-img-pc div.prev-page-pc p {
  position: absolute;
  top: 50%;
  right: 30px;
  font-size: 22px;
  color: #fff;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

footer {
  position: relative;
  width: 100%;
}

footer hr {
  border: 1px solid rgba(134, 117, 115, 0.4);
}

footer div.grid div {
  position: relative;
}

footer div.grid div h4 {
  display: inline-block;
  color: #867573;
  margin: 15px 0 10px;
}

@media screen and (min-width: 1024px) {
  footer div.grid div h4 {
    font-weight: bold;
    border-right: 2px solid #867573;
    margin-right: 50px;
  }
}

footer div.grid div span {
  position: absolute;
  top: 15px;
  right: 0;
  font-size: 90%;
}

@media screen and (min-width: 1024px) {
  footer div.grid div span {
    display: none;
  }
}

footer div.grid div a {
  display: none;
  color: #867573;
}

@media screen and (min-width: 1024px) {
  footer div.grid div a {
    display: inline-block;
    margin-right: 5%;
  }
}

@media screen and (min-width: 1024px) {
  footer div.grid div.category h4 {
    padding-right: 116px;
  }
}

footer div.grid div.category a {
  padding: 15px 5%;
}

@media screen and (min-width: 1024px) {
  footer div.grid div.category a {
    padding: 0;
  }
}

@media screen and (min-width: 1024px) {
  footer div.grid div.service h4 {
    padding-right: 45px;
  }
}

footer div.grid div.service a {
  padding: 15px 5%;
}

@media screen and (min-width: 1024px) {
  footer div.grid div.service a {
    padding: 0;
  }
}

@media screen and (min-width: 1024px) {
  footer div.grid div.follow h4 {
    display: none;
  }
}

footer div.grid div.follow a {
  padding: 15px 5%;
}

@media screen and (min-width: 1024px) {
  footer div.grid div.follow a {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  footer div.grid div.company h4 {
    display: none;
  }
}

footer div.grid div.company p {
  display: none;
  margin-top: 10px;
}

@media screen and (min-width: 1024px) {
  footer div.grid div.company p {
    display: block;
    margin-top: 35px;
    margin-left: 0;
  }
}

footer div.grid div.sns {
  display: none;
}

@media screen and (min-width: 1024px) {
  footer div.grid div.sns {
    display: block;
    position: absolute;
    top: 10px;
    right: 15px;
  }
  footer div.grid div.sns a {
    margin-right: 15px;
  }
  footer div.grid div.sns a:last-child {
    margin-right: 0;
  }
}

footer div.footer-logo {
  margin-top: 45px;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  footer div.footer-logo {
    margin-top: 60px;
  }
}

footer div.footer-logo img {
  width: 110px;
}

@media screen and (min-width: 1024px) {
  footer div.footer-logo img {
    width: 180px;
  }
}
/*# sourceMappingURL=clubdetail2.css.map */