* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
    background-color: #f9f9f9;
}

ol,
ul,
li {
    list-style: none;
}

a {
    display: block;
    text-decoration: none;
}

h2 {
    font-size: 33px;
}

p {
    font-size: 16px;
}

span {
    font-size: 22px;
}

header,
nav,
main,
article,
aside,
section,
footer {
    display: block;
}